@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Nav styles */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 200px;
}
.nav-title{
  font-weight: 800px;
  font-size: 45px;
}
nav ul {
  display: flex;
  align-items: center;
}

 nav ul li{
  list-style: none;
  margin-right: 51px;
 }

 nav li a{
  text-decoration: none;
  font-size: 20px;
 }
/* shared style */
.text-primary{
  color: #FD6E0A;
}
.dark-3{
  color: #474747;
}
.btn-primary{
 background-color: #FD6E0A; 
 font-weight: bold;
 font-size: 20px;
 color: white;
 padding: 18px 35px;
 border-radius: 5px;
 border: none;

}
.sec-descripton{
  font-size: 18px;
  color: #757575;
}

.sec-title  {
  font-size: 45px;
  font-weight: bold;
  color: #181818;
}

.secondary-bgc{
  background-color: #FFF8F3;
}


/* banner styles */
.banner{
  display: flex;
  margin-top: 25px;
  justify-content: space-between;
}


.banner-content{
  max-width: 580px;
  margin: 0 35px 0 230px ;
}
.banner-greetings{
  font-size: 45px;
  font-weight: 600;

}
  .banner-title{
    font-weight: bold;
    font-size: 85px;
  }

  .banner-dp{
    width: 580px;
  }
  
  .header{
    background-image: url(../aseets/images/developer.png), url(../aseets/images/header_bg.png); 
    background-repeat: no-repeat;
    background-position:top left, bottom right ;
  }

